# Main
CLIENT_URL=<client_address:port>
API_URL=<server_address:port>

# Registration
JWT_ACCESS_SECRET=<random_secret_key>
JWT_REFRESH_SECRET=<random_secret_key>

# Mail
SMTP_HOST=<post_server_address>
SMTP_PORT=<post_server_port>
SMTP_USER=<post_server_user_name>
SMTP_PASSWORD=<post_server_password>


# Data base environment
# Production
PORT=<prod_app_port>
DB_USER=<prod_db_user_name>
DB_HOST=<prod_db_address>
DB_NAME=<prod_db_name>
DB_PASSWORD=<prod_db_password>
DB_PORT=<prod_db_port>

# Development
DEV_PORT=<dev_app_port>
DB_DEV_USER=<dev_db_user_name>
DB_DEV_HOST=<dev_db_address>
DB_DEV_NAME=<dev_db_name>
DB_DEV_PASSWORD=<dev_db_password>
DB_DEV_PORT=<dev_db_port>

# Test
TEST_PORT=<test_app_port>
DB_TEST_USER=<test_db_user_name>
DB_TEST_HOST=<test_db_address>
DB_TEST_NAME=<test_db_name>
DB_TEST_PASSWORD=<test_db_password>
DB_TEST_PORT=<test_db_port>


# Client environment
# Follow in client directory and find env-example.txt